.James{
    height: 300px;
}
header{
    background-color: blueviolet;
    height: 450px;
    color: yellow;
}
body{
    height: 300px;
    background-color: yellow;
    color: orangered;
}
.Lebron{
    height: 400px;
}
footer{
    background-color: chocolate;
}